.wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.popupWrap {
    position: relative;
    border-radius: var(--siteBorderRadius);
    width: 430px;
    height: auto;
    background: var(--light-primary-color);
    padding: 30px 40px;
    flex-direction: column;
    box-shadow: 0 4px 10px 4px #00000040;
}

.exitButton {
    position: absolute;
    right: 15px;
    top: 10px;
    color: var(--dark-primary-color);
    font-weight: var(--semiBold);
    font-size: 20px;
}

.titleWrap {
    align-items: center;
    display: flex;
}

.title {
    font-weight: var(--semiBold);
    text-align: left;
    display: inline-block;
}

.loader {
    text-align: left;
    margin-bottom: 30px;
}

.emailIcon {
    display: inline-block;
    min-width: 110px;
    margin: 5px auto 0;
    animation: shake 2s infinite ease-in;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(5deg);
    }
    10% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(-5deg);
    }
    20% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.buttonsWrap {
     display: flex;
     justify-content: space-around;
     height: 81px;
     align-items: start;
 }

.loginButtonWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resendButtonWrap {
    display: flex;
    align-items: center;
}

.buttonsWrap button {
    width: auto;
    height: 52px;
    margin: 0;
    border-radius: var(--siteBorderRadius);
    font-size: var(--text5);
    padding: 10px 25px;

}

.failedLoginIcon {
     height: 20px;
     margin: 15px 10px 0;
 }

.failedLoginIcon h6{
    color:red;
    font-weight: var(--bold);
}

.timerWrap {
    display: block;
    margin: 0 2px 0 10px;
    text-align: center;
    width: 40px;
}



