.wrap {
    min-height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    border: 1px solid var(--dark-primary-color);
    width: 365px;
    padding: 37px 44px 27px;
    border-radius: 5px;
}

.title {
    margin-bottom: 25px;
    font-size: var(--text4);
}

.inputsWrap {
    margin-bottom: 10px;
}

.inputsWrap input:focus {
    border: 1px solid var(--accent-color)
}


.inputsWrap input::placeholder {
    font-size: var(--text6);
    font-weight: var(--regular);
}

.forgotPassword, .signupLink {
    color: var(--accent-color);
    display: block;
    margin-bottom: 25px;
    font-size: var(--text6);
    background-color: var(--light-primary-color);;
}

.submitButtonWrap > button {
    margin-bottom: 32px;
}

.submitButtonWrap button {
    width: 100%;
}

.sendNewPasswordWrap{

}
.sendNewPasswordOpenText{
    color:var(--accent-color);
    font-size: var(--text6);
    margin-bottom: 10px;
}

.sendNewPasswordButtonWrap {
    margin: 0 0 20px
}

.sendNewPasswordButtonWrap > button {
    font-size: var(--text6);
    width: 100%;
}

.signupLinkWrap {
    font-weight: var(--semiBold);
    font-size: var(--text6);
}

.signupLink {
    display: inline-block;
    font-weight: var(--semiBold);
}
