.wrap {
    height: calc(100vh);
    width: 100vw;
    display: flex;
}

.loader {
    width: 100px;
    height: 20px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.loader::before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-primary-color);
}

.loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 2;
    background-color: var(--accent-color);
    animation: loaderAnimation .875s infinite ease-in-out alternate;
}



@keyframes loaderAnimation {
    0% {
        left: -100%
    }
    100% {
        left: 100%
    }
}


