.wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:20px 0 100px;
}

.wrap h1 {
    font-size: var(--text2);
    margin-bottom: 20px;
}


.userIconWrap {
    width: 150px;
}

.userProps {
    border-spacing: 10px;
}

.userProps input{
    width: 100%;
    font-size: 16px;
}
.userProps tr {
    text-align: left;
}

.userProps th, .userProps td {
    padding:10px 10px;
    border:1px solid var(--accent-color);

}
