.wrap{
}
.sendNewPasswordButtonWrap button {
    width: 100%;
    font-size: var(--text5);
    background: var(--lilac);
    color: var(--light-primary-color);
    padding: 10px;
    margin: 10px 0 0;
}
